{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}

<form method="POST" action="{% url 'assign_customer' customer.id %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="agent">Assign an Agent:</label>
      <select id="agent_id" name="agent_id" class="form-select form-select-sm" required>
        <option value="">Select Agent</option>
        {% for agent in agents %}
          <option value="{{ agent.id }}">{{ agent.first_name }} {{ agent.last_name }}</option>
        {% endfor %}
      </select>
    </div>
  </br>
    <button type="submit" class="btn btn-primary btn-sm mt-1">Assign Agent</button>
</form>

</br>
<a href="{% url 'agent' %}" class="btn btn-primary">Back</a>

{% else %}

<p>Please <a href="{% url 'login' %}">login</a>to view assign customer.</p>

{% endif %}

{% endblock %}