{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}

<form method="POST" action="{% url 'assign_customer' customer.id %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="agent">Assign an Agent:</label>
      <select id="agent_id" name="agent_id" class="form-select form-select-sm" required>
        <option value="">Select Agent</option>
        {% for agent in agents %}
          <option value="{{ agent.id }}">{{ agent.first_name }} {{ agent.last_name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-sm mt-1">Assign Agent</button>
</form>


<table class="table table-striped table-hover table-bordered table-sm">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Location</th>
      <th scope="col">State</th>
      <th scope="col">Created_at</th>

    </tr>
  </thead>
  </tbody>


  {% if customers %}
    {% for customer in customers %}
        <tr>
            <td><a href="{% url  'customer' customer.id %}">{{ customer.id }}</a></td>
            <td>{{ customer.first_name }} {{ customer.last_name }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.location }}</td>
            <td>{{ customer.state }}</td>
            <td>{{ customer.created_at }}</td>
        </tr>
    {% endfor %}
  {% else %}
     <tr>
       <td colspan="6">No customers assigned to this agent.</td>
     </tr>
    {% endif %}
    </tbody>
</table>

<a href="{% url 'agent' %}" class="btn btn-primary">Back</a>

{% else %}

<p>Please <a href="{% url 'login' %}">login</a>to view assign customer.</p>

{% endif %}

{% endblock %}