</br>
<footer class="footer mt-auto py-3" style="background-color: blue; color: black;">
    <div class="container">
        <div class="row">
            <div class="col-md-15">
                <h5>About</h5>
                <p>Welcome to Comit CRM, the leading platform designed to enhance the relationship between leads and agents. Our mission is to streamline the way agents connect with potential clients, fostering trust and engagement thoughout the sales journey. At Comit CRM, we understand the complexities of managing leads and nurturing relationships. Our user-friendly CRM is built to
                   empower agents with the tools they need to track interactions, manage follow-ups, and aalyze performance effectively.
                </p>
            </div>
            <div class="col- md-8">
                <h5>Contact us</h5>
                <p>Email: comits@comits.com</p>
                <p>Phone: +245 345 346</p>
            </div>
            <div class="col-md-8">
                <h5>Privacy Policy</h5>
                <p>At Comit CRM, we prioritize your privacy and are committed to protecting your personal information.</p>
            </div>
        </div>
    </div>
</footer>